<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>!</h1>
    <p>Don't forget to do your habits to keep the flower growing!</p>
        <div><%=@habit.name%></div>
        <div><%=@habit.description%></div>
  </body>
</html>